*{
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}
/* .header{
    display: flex;
    position: relative;
    background-color: rgb(226, 43, 186);
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.navbtn span{
    display: block;
    background-color: black;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    cursor: pointer;
}
.nav{
display: flex;
gap: 10px;
}
.navbarbtn{
    color: red;
    box-shadow: 0 0 5px;
    padding: 2px;
    cursor: pointer;
    border: none;
    background: none;
}
.navbar{
color: white;
font-weight: bolder;
}
.navbtn{
    background: none;
    border: none;
} */
 body{
    overflow: hidden;
    height: 100vh;
    background: green;
    border: 10px solid white;
 }
.circle{
    border: 10px solid white;
    position:fixed ;
    background-color: white;
    border-radius: 100%;
    height: 450px;
    width: 450px;
    top: 100px;
    left:450px;
    box-shadow: 0 0 20px white;
    background: none;

} 
.centreline{
    color: white;
    box-shadow: 0 0 20px white;
    height: 100vh;
    width: 670px;
    
    

}
.post1{
    position: fixed;
    height: 400px;
    width: 130px;
    top: 130px;
    box-shadow: 0 0 20px white;
    border-radius:0px 10px 10px 0px;
    border: 10px solid white;
}
.post2{
    position: fixed;
    height: 400px;
    width: 130px;
    top: 130px;
    box-shadow: 0 0 20px white;
    border-radius:10px 0px 0px 10px;
    right: 17px;
    border: 10px solid white; 
}
.corner1{
    position: fixed; 
    color: white;
       width: 52px;
       height: 50px;
       box-shadow: 0 0 20px;
       border-radius: 100%;
       left: 1305px;
       top: 10px;
       border: 5px solid white;  
}
.corner2{
    border: 5px solid white;
    position: fixed; color: white;
   width: 52px;
   height: 50px;
   box-shadow: 0 0 20px;
   border-radius: 100%;
   right: 1305px;
   top: 10px; 
}
.corner3{
    border: 5px solid white;
    position: fixed; 
color: white;
   width: 52px;
   height: 50px;
   box-shadow: 0 0 20px;
   border-radius: 100%;
   left: 1305px;
   bottom: 0px; 
}
.corner4{
    border: 5px solid white;
    position: fixed; 
color: white;
   width: 52px;
   height: 50px;
   box-shadow: 0 0 20px;
   border-radius: 100%;
   right: 1305px;
   bottom: 0px ;
}
.img1{
    
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 50px;
    left: 120px;
}
.img2{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
top: 200px;
left: 200px;
}
.img3{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 370px;
    left: 200px;
}
.img4{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    bottom:50px ;
    left: 120px;
}
.img5{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top:280px ;
    left: 290px;
}
.img6{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top:280px ;
    left: 420px
}
.img7{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 50px;
    left: 420px;
} 
.img8{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    bottom:50px ;
    left: 420px; 
}
.img9{
  
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
top: 200px;
left: 600px;  
}   
.img10{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 370px;
    left: 600px
}
.img11{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 285px;
    left: 30px;
}

.img12{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 50px;
    right:120px;

}
.img13{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
top: 200px;
right: 200px; 
}
.img14{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 370px;
    right: 200px;  
}
.img15{
   
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    bottom:50px ;
    right: 120px; 
}
.img16{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top:280px ;
    right: 290px;
}
.img17{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top:280px ;
    right: 420px
}
.img18{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    bottom:50px ;
    right: 420px; 
}
.img19{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top:50px ;
    right: 470px; 
}
.img20{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
top: 200px;
right: 600px;    
}
.img21{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 370px;
    right: 600px 
}
.img22{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 285px;
    left: 1280px;
}

@media screen and (max-width:900px){
    .circle{
       position:fixed ;
       height: 230px;
       border-radius: 100%;
       width: 230px;
       top: 100px;
       left:370px;
       box-shadow: 0 0 20px white;
   }   
   .centreline{
    color: white;
    box-shadow: 0 0 20px white;
    height: 100vh;
    width: 470px;
 }
   .post1{
       position: fixed;
       height: 300px;
       width: 80px;
       top: 70px;
       box-shadow: 0 0 20px white;
       border-radius:0px 10px 10px 0px;
   }
   
   .post2{
       position: fixed;
       height: 300px;
       width: 80px;
       top: 70px;
       box-shadow: 0 0 20px white;
       border-radius:10px 0px 0px 10px;
       background: none;
       /* right: 0px; */
   }
   .img1{
    position: fixed;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    top: 100px;
    left: 130px;
}
   .img2{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
   top: 200px;
   left: 130px;
   }
   .img3{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 370px;
       left: 130px;
   }
   .img4{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       bottom:100px ;
       left: 130px;
   }
   .img5{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top:210px ;
       left: 240px
   }
   .img6{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top:220px ;
       left: 320px
   }
   .img7{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 100px;
       left: 320px;
   } 
   .img8{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       bottom:150px ;
       left: 450px; 
   }
   .img9{
     
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
   top: 130px;
   left: 450px;  
   }   
   .img10{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 370px;
       left: 320px
   }
   .img11{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 200px;
       left: 20px;
   }
   
   .img12{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 100px;
       right:150px;
   
   }
   .img13{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
   top: 280px;
   right: 150px; 
   }
   .img14{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 370px;
       right: 130px;  
   }
   .img15{
      
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       bottom:220px ;
       right: 150px; 
   }
   .img16{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top:100px ;
       right: 240px;
   }
   .img17{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top:220px ;
       right: 240px
   }
   .img18{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       bottom:50px ;
       right: 240px; 
   }
   .img19{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top:220px ;
       right: 380px; 
   }
   .img20{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
   top: 80px;
   right: 380px;    
   }
   .img21{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 340px;
       right: 380px ;
   }
   .img22{
       position: fixed;
       height: 30px;
       width: 30px;
       border-radius: 100%;
       top: 200px;
       left: 870px;
   }
   
   .corner1{
       position: fixed; 
    color: white;
       width: 30px;
       height: 30px;
       box-shadow: 0 0 20px;
       border-radius: 100%;
       left: 11px;
       top: 17px;
    }
    .corner2{
        position: fixed; 
    color: white;
       width: 30px;
       height: 30px;
       box-shadow: 0 0 20px;
       border-radius: 100%;
       right: 11px;
       top: 14px
    }
    .corner3{
        position: fixed; 
    color: white;
       width: 30px;
       height: 30px;
       box-shadow: 0 0 20px;
       border-radius: 100%;
       left: 11px;
       bottom: 0px
    }
    .corner4{
        position: fixed; 
    color: white;
       width: 30px;
       height: 30px;
       box-shadow: 0 0 20px;
       border-radius: 100%;
       right: 11px;
       bottom: 0px;
    }
    }
    
        
     
    .ball{
        position: fixed;
        top: 10px;
        bottom: 400px;
        right: 400px;
        background-color: white;
        height: 15px;
        width: 2%;
        border-radius: 100%;
        transition: all 1000ms linear;
    }
    
    
       
    
    
    
    
 